body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.container {
 
  padding-top: 2vh !important;
}

.bg-primary {

  background-image: linear-gradient(linear-gradient, #009FFD, #2A2A72) !important;
}